html,
body,
/* Formatting for Crop Recommendation map */
#recomMap {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

/* Formatting for Meteorological Analysis map */
#weatherMap {
  width: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
}